@font-face {
  font-family: 'Inter';
  src: url(Inter-Medium.otf) format('otf');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(PlayfairDisplay.ttf) format('ttf');
  font-weight: normal;
  font-display: swap;
}