.content {
  background-image: url('../images/background.png.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  font-family: 'Inter', sans-serif;
  gap: 42px;
  background-attachment: fixed;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 2s ease forwards;
}

.link {
  inline-size: 180px;
  block-size: 105px;
}

.logo {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  padding: 20px;
  border: 1px #000 solid;
  border-radius: 20%;
}

.list {
  list-style-type: circle;
  font-style: italic;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #4a4a4a;
  font-size: 20px;
}

.title {
  text-transform: uppercase;
  display: flex;
  color: #4a4a4a;
  flex-direction: column;
  font-weight: 400;
  font-size: 92px;
  font-family: 'Playfair Display';
}

@media (width < 900px) {
  .content {
    padding: 50px 30px;
  }

  .title {
    font-size: 60px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    visibility: visible;
  }
}